[Unit]
Description= FSYNO : DownloadStation upload analyser
After=syslog.target network.target # quand les autres services sont ACTIFS
Documentation=man:cron(8)  # pour man.service

[Service]
TimeoutStartSec=0
ExecStart=/home/pi/Devlopp/Synology/FSYNO/fsyno.sh
Type = simple
RemainAfterExit = no
User = root
Killmode = process


[Install]
WantedBy=multi-user.target
